<a href="javascript:void(0);" [routerLink]="['add']">Add New</a>

<table class="table">
  <tr>
    <td>#</td>
    <td>Serial Number</td>
    <td>Manufacturer Name</td>
    <td>Model Name</td>
    <td>Action</td>
  </tr>
  <tr *ngFor="let invs of allInvs; let i = index">
    <td>{{ i + 1 }}</td>
    <td>{{ invs.regNumber }}</td>
    <td>{{ invs.modelTitle }}</td>
    <td>{{ invs.modelName }}</td>
    <td>
      <a href="javascript:void(0);" [routerLink]="['view/' + invs.id]">View</a>
    </td>
  </tr>
</table>
